<div class="header">
        <h3>Explore Rides</h3>
        <div>
            <select name="cars" id="cars" [(ngModel)]="selectedFilter" (change)="filterData()">
  @for (item of vehicleType; track $index) {
    <option [value]="item">{{item | titlecase}}</option>
  }
</select>
<button (click)="gotohost()">Host Ride</button>
        </div>
    </div>
@if(filteredData.length !== 0){
    <div class="container">
        @for (item of filteredData; track $index) {
        <div class="card">
            <div class="card-header">
                <small>#{{item.employeeId}}</small>
                <small><small class="badge">{{item.vehicleType}}</small>{{item.vehicleNo}}</small>
            </div>
            <div class="card-body">
                <div>Pickup: {{item.pickup}}</div>
                <div>Destination: {{item.destination}}</div>
            </div>
            <div class="card-footer">
                <div>🕑{{item.time | date: 'shortTime'}}<span>&nbsp;💺{{item.vacantSeats}}</span></div>
                
                @if(item.vacantSeats > 0){
                    <button (click)="bookRide(item.id, item.employeeId)">Book</button>
                } @else {
                    <button class="disabled" [disabled]="item.vacantSeats <= 0">Closed</button>
                }
            </div>
        </div>
    }
    </div>
} @else {
    <app-no-data></app-no-data>
}