<div class="form-container">
  <div class="form-header">
    <h3>Host a New Ride</h3>
    <p>Host a ride to find a co-rider</p>
  </div>

  <form  (ngSubmit)="rideForm.valid && onHostRide(rideForm.value)" #rideForm="ngForm">
    <div class="input-grid">
      <div class="form-group">
        <label>Employee ID</label>
        <input type="text" name="employeeId" ngModel placeholder="e.g. EMP101" required #employeeId="ngModel">
        @if(employeeId.invalid && (employeeId.dirty || employeeId.touched)){
          <small style="color: red;">Employee ID is required</small>
        }
      </div>

      <div class="form-group">
        <label>Vehicle Type</label>
        <select name="vehicleType" ngModel required #vehicleType="ngModel">
          <option value="Car">Car</option>
          <option value="Bike">Bike</option>
        </select>
        @if(vehicleType.invalid && (vehicleType.dirty || vehicleType.touched)){
          <small style="color: red;">Vehicle Type is required</small>
        }
      </div>

      <div class="form-group">
        <label>Vehicle Number</label>
        <input type="text" name="vehicleNo" ngModel placeholder="e.g. KA01AB1234" required pattern="[a-zA-Z0-9]+" #vehicleNo="ngModel">
        @if(vehicleNo.invalid && (vehicleNo.dirty || vehicleNo.touched)){
          @if(vehicleNo.errors?.['required']){
            <small style="color: red;">Vehicle Number is required</small>
          } @else if(vehicleNo.errors?.['pattern']){
            <small style="color: red;">Vehicle Number must be alphanumeric</small>
          }
        }
      </div>

      <div class="form-group">
        <label>Available Seats</label>
        @if(rideForm.value.vehicleType === 'Car'){
            <input type="number" name="vacantSeats" ngModel min="1" max="4" required #vacantSeats="ngModel">
            @if(vacantSeats.invalid && (vacantSeats.dirty || vacantSeats.touched)){
              <small style="color: red;">Please enter valid seats (1-4)</small>
            }
        } @else {
            <input type="number" name="vacantSeats" ngModel min="1" max="1" required #vacantSeats="ngModel">
            @if(vacantSeats.invalid && (vacantSeats.dirty || vacantSeats.touched)){
              <small style="color: red;">Only 1 seat allowed for Bike</small>
            }
        }
      </div>

      <div class="form-group">
        <label>Pickup Point</label>
        <input type="text" name="pickup" ngModel placeholder="e.g. Electronic City" required #pickup="ngModel">
        @if(pickup.invalid && (pickup.dirty || pickup.touched)){
          <small style="color: red;">Pickup Point is required</small>
        }
      </div>

      <div class="form-group">
        <label>Destination</label>
        <input type="text" name="destination" ngModel placeholder="e.g. Whitefield" required #destination="ngModel">
        @if(destination.invalid && (destination.dirty || destination.touched)){
          <small style="color: red;">Destination is required</small>
        }
      </div>

      <div class="form-group full-width">
  <label>Schedule Date & Time</label>
  <input type="datetime-local" 
         name="time" 
         #timeInput="ngModel"
         ngModel 
         [min]="minDateTime"
         [max]="maxDateTime"
         [required]="true"
         onkeydown="return false"
         (focus)="setMinDateTime()"
         (click)="setMinDateTime()" 
         required>
  @if(timeInput.invalid && (timeInput.dirty || timeInput.touched)){
    <small style="color: red;">Valid Date & Time is required</small>
  }
</div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn-submit">Host Ride</button>
    </div>
  </form>
</div>