:root {
    --theme-color: #32ba94;
    --theme-color-light:  #32ba9426
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: hidden;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  background-color: #fcfcfc;
  border-bottom: 1px solid #eee;
  font-weight: 600;
  color: #666;
}

.card-header small {
  font-size: 14px;
}

.card-body {
  padding: 20px 15px;
  text-align: left;
  font-size: 16px;
  line-height: 1.8;
  color: #333;
}

.card-body div {
  background: none;
  border: none;
  padding: 0;
  text-align: left;
  font-size: 16px;
}

.card-footer {
  padding: 5px 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.card-footer div {
  background: none;
  border: none;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #555;
}

button {
  grid-column: span 2;
  background-color: var(--theme-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02); 
}

.badge {
  background-color: var(--theme-color);
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 4px;
}

.disabled {
    background-color: var(--theme-color-light);
    cursor: not-allowed;
}
